*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
#de_div{
    width: 100%;
    background-color: lightgray;
    padding: 10px;
}
.navigation{
    width: 90%;
    background-color: red;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tags{
    background-color: lightblue;
    padding: 5px;
    margin: 10px;
}

#first_homeDiv{
    border: 1px solid gray;
    width: 40%;
    height: 300px;
    margin-left: 10%;
}
#secon_div{
    border: 1px solid gray;
    width: 70%;
    height: 200px;
    margin: 10% 15%;
    border-radius: 5px;
}
#heading{
    padding: 5px;
    text-decoration: underline;
}
#newlink{
    margin-left: 30px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    background-color: lightblue;
    font-weight: 800;
}